<div id='index-main' class='container'>
  <div id="posts" class='row posts-wrapper'>
    <%= render("paginate_posts/index") %>
  </div>
  <div id="paginator" class="row text-center">
    <%= render("paginate_posts/load_more_link") %>
  </div>
</div>
