<div class='posts-wrapper'>
  <div class='row'>
    <div class='post'>
      <div class='post-head'>
        <div class="name">Ben Walker</div>
      </div>
      <div class='image'>
        <%= image_tag(@post.image.url(:medium), class:'img-responsive center-block') %>
      </div>
      <p class="caption">
        <%= @post.caption %>
      </p>
      <div class='text-center'>
        <%= link_to('Back to posts', posts_path)%>
        |
        <%= link_to('Edit', edit_post_path(@post))%>
      </div>
    </div>
  </div>
</div>
